@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        To my solution for Inlämningsuppgift del 2.
        <br/> I have already upload some data for you but you are welcome to add more, edit the existing data or remove it.
    </p>
</div>
